.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: Patua One, Roboto;
  background-color: lightGray;
}

main {
  flex: 10;
  display: flex;
  align-items: top;

  padding-top: 14vh;
  padding-left: 13vh;
  padding-right: 13vh;
}

.project {
  flex: 3;
}

.title {
  margin-top: 0;
  font-size: 10.5vh;
  margin-bottom: 0;
}

.project-name {
  font-weight: bold;
}

.description {
  margin-top: 25.1vh;
  font-size: 8.4vh;
  color: #666;
  line-height: 8.7vh;
}

.pic img {
  max-width: 32vh;
  width: 100%;
  height: auto;
}
